<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Chat Room</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chat/main.css') }}" />
    </head>
    <body>
        <button id="outBtn">홈으로</button>
        <div class="left-container">
            <div>다른 사람들과 즐겁게 이야기 해보세요!</div>
            <div class="mascote-container">
                <div class="msg">다 보고있다! 나쁜말 하면 혼나!</div>
                <img src="/static/img/mascot.png" alt="" decoding="async" loading="lazy" class="gard" />
            </div>
        </div>
        <div id="wrapper">
            <div id="phone-header">
                <div></div>
                <div></div>
            </div>
            <img src="/static/img/mascot.png" alt="" decoding="async" loading="lazy" />
            <div id="messages"></div>
            <div id="btnContainer">
                <div id="btnBox">
                    <input type="text" id="myMessage" />
                    <button id="sendbutton">Send</button>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/chat/index.js') }}"></script>
    </body>
</html>
